<app-page-header [heading]="'Pages'" [icon]="'fa-table'"></app-page-header>
<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">{{page.id ? 'Edit' : 'Add'}} Pages</div>
            <form role="form" #pageForm="ngForm">
                <fieldset class="form-group">
                    <label>Title</label>
                    <input class="form-control" [(ngModel)]="page.title" name="title" placeholder="Enter a title" required>
                </fieldset>

                <fieldset class="form-group">
                    <label>Text</label>
                    <app-tinymce [(ngModel)]="page.text" name="text"></app-tinymce>
                </fieldset>

                <div class="form-group align-middle">
                    <div class="col-md-8">
                        <button class="btn btn-danger" (click)="clearForm()" >Cancel</button>
                        <button class="btn btn-success" (click)="pageSave()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Pages</div>
            <div class="card-block table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th width="80%">Title</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let page of pageList; let i = index">
                        <td>{{page.id}}</td>
                        <td class="central">{{page.title}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editPage(page.id)">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deletePage(page.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>